nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    align-items: center;
}
nav div{
    
    
    background-color: aqua;
}
.a {
    width: 30%;
    height: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: start ;
    align-items: center;

}
.b{ width: 30%;
    height: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 

}
.b a{
    list-style: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    line-height: none;
    l
}

.c{  width: 25%;
    height: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center; 
}
